
.button {
    min-width: 34.7rem;
    height: 8.8rem;
    padding: 0 2.0rem;
    cursor: pointer;
    background-color: var(--green);
    border-radius: 1rem;
    font-size: 5rem;
    line-height: 6rem;
    color: var(--white);
    -webkit-tap-highlight-color: transparent;
    border: none;
    outline: none;
}