:root {
    --hover-padding: 5rem;
}

.card-container {
    text-align: center;
    font-size: 0;
}

.cc-image {
    width: 15rem;
}

.cc-image.small {
    width: 10rem;
}

.cc-image.big {
    width: 20rem;
}

.cc-image.flexible {
    width: 100%;
}