:root {
    --hover-padding: 5rem;
}

.deck-container {
    position: relative;
    height: 100%;
}

.dc-item {
    position: absolute;
    left: 50%;
    cursor: pointer;
}

.dc-item:hover {
    margin-top: -2.5rem;
}

.dc-left .dc-item:hover {
    padding-top: var(--hover-padding);
}

.dc-right .dc-item:hover {
    padding-bottom: var(--hover-padding);
}