
.header-container {
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    top: 5rem;
    transform: translateX(-50%);
    width: 50%;
    color: var(--white);
    z-index: 100;
}

.hc-score {
    font-size: 5rem;
    font-weight: bold;
}

.hcs-left {
    left: 0;
}

.hcs-right {
    right: 0;
}