
.overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, .5);
    z-index: 100000;
}

.overlay-content {
    width: 50%;
    margin: 0 auto;
    padding: 3rem;
    background-color: var(--white);
    box-shadow: 0 1.6rem 3.2rem rgba(0, 0, 0, .5);
    border-radius: 1rem;
    text-align: center;
    z-index: 11;
}

.overlay-title {
    margin: 0;
    font-size: 5rem;
    color: var(--accent);
}

.overlay-text {
    margin: 2rem 0 3rem;
    font-size: 3rem;
}

.overlay-text:first-letter {
    text-transform: capitalize;
}