
.table-container {
    position: relative;
    font-size: 2rem;
}

.tc-card-container {
    position: absolute;
    transform: rotate(-90deg);
    perspective: 1000px;
    opacity: 1;
}

.tccc-wrapper-enter-active,
.tccc-wrapper-exit {
    transition: all 500ms;
}

.tccc-wrapper-enter-active,
.tccc-wrapper-enter-done,
.tccc-wrapper-exit-active,
.tccc-wrapper-exit-done {
    top: 50%!important;
    left: 50%!important;
    width: 20rem!important;
    height: 31.26rem!important;
}

.tccc-wrapper-exit {
    top: 5rem!important;
    width: 0!important;
    height: 0!important;
}

.tccc-wrapper-exit-active.tc-winner-left {
    left: 0!important;
    transform: translate(100%, -150%) rotate(-30deg)!important;
}

.tccc-wrapper-exit-active.tc-winner-right {
    left: 100%!important;
    right: 0!important;
    transform: translate(-300%, -150%) rotate(30deg)!important;
}

.tccc-wrapper-exit-active.tc-winner-draw {
    top: 50%!important;
    width: 10rem!important;
    height: 15.63rem!important;
}

.tccc-wrapper-enter-active.tc-left-card,
.tccc-wrapper-enter-done.tc-left-card,
.tccc-wrapper-exit.tc-left-card,
.tccc-wrapper-exit-active.tc-left-card,
.tccc-wrapper-exit-done.tc-left-card {
    transform: translate(-100%, -50%) rotate(-30deg);
}

.tccc-wrapper-enter-active.tc-right-card,
.tccc-wrapper-enter-done.tc-right-card,
.tccc-wrapper-exit.tc-right-card,
.tccc-wrapper-exit-active.tc-right-card,
.tccc-wrapper-exit-done.tc-right-card {
    transform: translate(0, -50%) rotate(30deg);
}

.tccc-wrapper-exit-active,
.tccc-wrapper-exit-done {
    opacity: 0;
}

.tccc-inner {
    transition: transform 500ms;
    transform-style: preserve-3d;
}

.tccc-wrapper-enter-active .tccc-inner,
.tccc-wrapper-enter-done .tccc-inner {
    transform: rotateY(180deg);
}

.rccc-front,
.rccc-back {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.rccc-back {
    transform: rotateY(180deg);
}

.tc-score {
    position: absolute;
    top: 5rem;
    font-size: 5rem;
    font-weight: bold;
    color: var(--accent);
}

.tcs-left {
    left: 0;
}

.tcs-right {
    right: 0;
}